.flex-container {
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center; /* Центрирует элементы по вертикали */
    padding: 10px 0; /* Внешний отступ сверху и снизу */
    border-bottom: 1px solid #262626;
}

.flex-item {
    flex: 1; /* Каждый элемент занимает равную часть доступного пространства */
    padding: 20px;
    text-align: center;
    margin-right: 10px; /* Отступ справа между элементами */
    margin-top: 0; /* Убирает верхний отступ */
}

.modal {
    display: none;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100; /* Increased from 1050 */
}
.modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    border: 2px solid #000000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#orderDetailModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1100;
}